body{
  background: url(html-color-codes-color-tutorials-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner {
  display: table;
  margin: 0 auto;
}

span {
  font-weight: 900;
  font-size: 108px;
}